<div id='wrap'>
<div id='calendar'></div>
<div id='external-events'>
<h4>Crea tu horario</h4>
<div class='external-event'>Bloque de una hora</div>
<input type='hidden' id='drop-remove' />
</div>
<div style="clear:both"></div>
</div>
