<div id='wrap'>
<div id='calendar'></div>
<div id='external-events'>
<h4>Drag & Drop</h4>
<div class='external-event'>One hour Block</div>
<input type='hidden' id='drop-remove' />
</div>
<div style="clear:both"></div>
</div>
<a href="#" id="save_calendar" class="btn btn-primary">Save</a>
