<div class="panel panel-default">
   <div class="panel-body">
    <% @events.each do |e| %>
    <% @user.common_friends.each do |f| %>
        <% if (e.uid == f['uid'].to_s) %>
          <p><h2><%=Time.now.hour-5%> hours</h2>
		<p><img src="<%= f['pic'] %>" alt="..." class="img-thumbnail">
		 <%= f['name'] %></p></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
