 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron boot-purple">
  <div class="container">
  <h1>
    Synchronice.us
  </h1>
  <p>
    Synchronice your free time with your friends
  </p>
  <p>
    <% unless current_user %>
      <a href="/auth/facebook" class="btn btn-primary btn-lg" id="sign_in"><span class='icon-facebook'></span>&nbsp;&nbsp;&nbsp;Login with Facebook</a>
    <% end %>
  </p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>
        Draw your calendar
      </h2>
      <p>
        Are you new?  Get started
        making your own
        schedule of the day
        <img src="/assets/dragdrop-small.jpg">
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Import your calendar
      </h2>
      <p>
        Have already a Schedule import
         yours here to get a faster start on
        your journey
        <img height="154" width="148" src="/assets/Google.png">
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Eat with friends
      </h2>
      <p>
        Are your friends are synced?
        Check who you
         share free time  with.
         let’s chat, let’s eat, let’s SynchroNice
         <img height="154" width="265" src="/assets/3.jpg">
      </p>
    </div>
  </div>
  <hr>

</div>
  <!-- /container -->
