 <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
  <h1>
    Synchronice.us
  </h1>
  <p>
    Synchronice your free time with your friends
  </p>
  <p>
            <% unless current_user %>
              <%= link_to "Login with Facebook","/auth/facebook", :class=>"btn btn-primary btn-lg", :id=>"sign_in" %>
            <% end %>
  </p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>
        Draw your calendar
      </h2>
      <p>
        Are you new?  Get started
        making your own
        schedule of the day
      </p>
      <p>
        <a class="btn btn-default" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Import your calendar
      </h2>
      <p>
        Have already a Schedule import
         yours here to get a faster start on
        your journey
      </p>
      <p>
        <a class="btn btn-default" href="#">View details »</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        Eat with friends
      </h2>
      <p>
        Are your friends are synced?
        Check who you
         share free time  with.
        let’s chat, let’s eat, let’s SynchroNice
      </p>
      <p>
        <a class="btn btn-default" href="#">View details »</a>
      </p>
    </div>
  </div>
  <hr>

</div>
  <!-- /container -->
