.special-navbar-text{
   margin-right:15px !important;
}
.boot-purple{
  background-color:#51387a !important;
  color: #fff !important;
}

.logo{
  padding: 5px 15px !important;
}
.logo img {
margin-right: 8px;
}
.purple-text{
  color: #51387a !important;
}
